$('#tab-content-users-global-roles').html('<%= escape_javascript(render :partial => 'roles/global_roles') %>');
<% @global_role_ids.each do |gr_id| %>
  $('#role-<%=gr_id%>').effect("highlight", {}, 1200);
<% end %>