<%= javascript_include_tag :global_roles, plugin: :global_roles %>
<%= stylesheet_link_tag 'global_roles', plugin: 'global_roles' %>

<%= content_tag(:div, js_err, id: 'errorExplanation') if local_assigns[:js_err] && !js_err.nil? %>

<div class="splitcontentleft" style="width:65%;">
  <% principal = @group.nil? ? @user : @group %>

  <% principal_relations = GlobalRole.joins(:principal).select("#{GlobalRole.table_name}.id, user_id, role_id, #{User.table_name}.type").where('user_id in (?)', @user ? [principal.id] + @user.groups.map(&:id) : [principal.id])  %>
  <% roles = Role.givable.where("#{Role.table_name}.id NOT IN (SELECT role_id FROM #{GlobalRole.table_name} WHERE user_id = ?)", principal.id) %>

  <% if principal_relations.any? %>
    <table class="list relations">
      <thead>
        <tr>
          <th><%= l(:label_role) %></th>
          <th style="width:15%"></th>
        </tr>
      </thead>
      <tbody>
      <% principal_relations.sort_by{|el| el.role.name.to_s}.each do |rel| %>
        <tr id="role-<%= rel.id %>" class="<%= cycle 'odd', 'even' %>">
          <td class="role-name"><%= link_to(rel.role.name, edit_role_path(rel.role)) %></td>
          <td class="buttons">
            <% if rel.type == 'Group' %>
                <%= l(:gr_label_inherit_group) %>
            <% else %>
                <%= delete_link( "destroy_global_role/#{rel.id}", remote: true ) %>
          <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p id="no_relation_groups_records" class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>

<div class="splitcontentright" style="width:30%;">
  <%= form_tag({action: 'create_global_role'}, {id: 'select_roles', remote: true}) do %>
    <fieldset><legend><strong> <%= l(:label_roles) %> </strong></legend>
      <p><%= text_field_tag('filter_roles', '', class: 'find-filter autocomplete') %></p>
        <div id="roles-list" class="glr-list-container">
          <% roles.sort_by{|el| el.name.to_s}.each do |r| %>
            <nobr><%= content_tag( :label,
                                   check_box_tag('roles[]', r.id, false, id: nil) + r.name.to_s,
                                   class: 'one-name' ) %></nobr>
          <% end %>
        </div>
      <p>
      <%= submit_tag(l(:label_add_item), id: 'record_add', class: 'btn-def') %>
      </p>
    </fieldset>
  <% end %>
</div>