<%= content_tag(:div, js_err, id: 'errorExplanation') if local_assigns[:js_err] && !js_err.nil? %>

<div>
  <div class="splitcontentleft" style="width:65%;">
  <% principals_by_global_roles = @role.principals_by_global_roles.select("#{Principal.table_name}.*, #{GlobalRole.table_name}.id AS gr_id") %>
    <% if principals_by_global_roles != [] %>
      <table class="list relations">
        <thead>
          <tr>
            <th><%= l(:label_user) %> / <%= l(:label_group) %></th>
            <th style="width:15%"></th>
          </tr>
        </thead>
        <tbody>
        <% principals_by_global_roles.each do |principal| %>
          <tr id="principal-<%= principal.id %>" class="<%= cycle 'odd', 'even' %>">
          <% group_class = principal.instance_of?(Group) ? 'glr-group' : '' %>
            <td class="principal-name <%= group_class %>">
              <% if principal.instance_of?(User) %>
                <%= link_to(principal.name, edit_user_path(principal)) %></td>
              <% elsif !principal.instance_of?(AnonymousUser) %>
                <%= link_to(principal.name, edit_group_path(principal)) %></td>
              <% end %>
            <td class="buttons">
              <%= link_to( "<span>#{l(:button_delete)}</span>".html_safe,
                           "destroy_global_role/#{principal.attributes['gr_id']}",
                           method: :delete,
                           remote: true,
                           class: 'in_link icon icon-del' ) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p id="no_relation_groups_records" class="nodata"><%= l(:label_no_data) %></p>
    <% end %>
  </div>
  <div class="splitcontentright" style="width:30%;">
    <%= form_tag( {action: 'create_global_role'}, { id: 'select_users', remote: true} ) do %>
      <fieldset>
        <legend><strong> <%= l(:label_user) %> / <%= l(:label_group) %> </strong></legend>
        <p><%= text_field_tag('filter_users_global_roles', '',
                              class: 'find-filter autocomplete', data: {url: autocomplete_for_user_global_role_path(@role)}) %></p>
          <div id="users-list-global-roles" class="glr-list-container">
            <%= render_principals_for_role(@role, true) %>
          </div>
        <p>
          <%= submit_tag(l(:label_add_item), id: 'record_add') %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>