<%= content_tag(:div, js_err, id: 'errorExplanation') if local_assigns[:js_err] && !js_err.nil? %>

<div>
  <div class="splitcontentleft" style="width:65%;">
    <% if @role.principals != [] %>
      <table class="list relations">
        <thead>
          <tr>
            <th><%= l(:label_user) %> / <%= l(:label_group) %></th>
            <th><%= l(:label_project) %></th>
            <th style="width:15%"></th>
          </tr>
        </thead>
        <tbody>
        <% @role.principals.each do |principal| %>
          <% principal_project_ids = principal.memberships
                                              .select{ |member| member.roles.include?(@role) }
                                              .map{ |member| member.try(:project).id } %>

            <tr id="principal-<%= principal.id %>" class="<%= cycle 'odd', 'even' %>">
              <% group_class = principal.instance_of?(Group) ? 'glr-group' : '' %>
              <td class="principal-name <%= group_class %>">
                <% if principal.instance_of?(User) %>
                  <%= link_to(principal.name, edit_user_path(principal)) %></td>
                <% elsif !principal.instance_of?(AnonymousUser) %>
                  <%= link_to(principal.name, edit_group_path(principal)) %></td>
                <% end %>
              <td class="project-names" id="principal-<%= principal.id %>-row">
                <% deletable = true %>
                <% proj_links = [] %>

                <% principal.memberships.each do |member| %>
                    <% member_role = member.member_roles.find{|mr| mr.role_id == @role.id} %>
                    <% if member_role %>
                      <% deletable = false if member_role.inherited_from.to_i > 0 %>
                      <% proj_links << link_to_project_settings(member.project, {}, id: "member-#{member.id}-project-link", title: member.project.short_description) %>
                    <% end %>
                <% end %>

                <div class="glr-projects-names">
                  <%= proj_links.join(', ').html_safe %>
                </div>

                <div id="principal-<%= principal.id %>-projects" class="principal-projects"></div>
              </td>
              <td class="buttons">
                <%= link_to l(:button_edit), "edit_user_projects_by_role/#{principal.id}", remote: true, class: 'in_link icon icon-edit glr-projects-edit' %>
                <%= link_to( l(:button_delete), "remove_user_from_role/#{principal.id}", method: :delete, remote: true, class: 'in_link icon icon-del' ) if deletable %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p id="no_relation_groups_records" class="nodata"><%= l(:label_no_data) %></p>
    <% end %>
  </div>

<%#= render partial: 'user_projects_for_role_form' %>

  <div class="splitcontentright" style="width:30%;">
    <%= form_tag({action: 'add_user_to_role'}, {id: 'select_users', remote: true}) do %>
      <fieldset>
        <legend><strong> <%= l(:label_add_user_to_role) %> </strong></legend>
        </br>
        <strong><%= l(:label_project) %></strong>
        <p><%= projects_select_tag('project_id', @projects) %></p>

        <strong> <%= l(:label_user) %> / <%= l(:label_group) %> </strong>
        <p><%= text_field_tag('filter_users', '', class: 'find-filter autocomplete', data: {url: autocomplete_for_user_role_path(@role)}) %></p>
        <div id="users-list" class="glr-list-container">
            <%= render_principals_for_role(@role) %>
        </div>
        <div class="glr-submit">
          <%= submit_tag(l(:label_add_item), id: 'add_user_to_role') %>
          <div class="glr-no-project-selected" style="display: none;"><%= l(:label_no_project_selected) %></div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>